build
mpv-build
*.o
KittehPlayer
moc_*
*AppImage*
.qmake.stash
qrc_qml.cpp
appdir
AppDir
Makefile
linuxdeploy*
other_libs
sffmpeg
*.qmake.stash
*.qmlc
*.jsc
src_qml*
qmlcache*
qrc_src*
discord-rpc
*.kate-swp

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*_autogen
*.core
.core